<style>
    body {
        background-color: #470d64;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<header>
    <h1>Boost Music</h1>
</header>
<div class="login-container">
    <h2><b>Recuperación de contraseña</b></h2>

    <form action="/auth/passwordrecovery" method="post" style="margin-top: 32px;">
        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group1"><i class="fa-solid fa-user"></i></span>
            <input type="email" name="email" class="form-control" placeholder="Email" required="required"
                autofocus="autofocus">
        </div>

        {{#if showError}}
        <div class="alert alert-danger" role="alert" style="margin-top: 16px;">
            {{ errorMessage }}
        </div>
        {{/if}} 

        <br>
        <button type="submit" class="btn btn-success">Ingresar</button>

        <div style="margin-top: 24px;">
            ¿Ya tienes cuenta?: <a class="a2" href="/views/login">Login</a>
            <br>
            ¿No tienes cuenta?: <a class="a2" href="/views/register">Registrate</a>
        </div>
    </form>
</div>