.main-div {
    background-color: #f60;
    padding: 1em;
}

.container-fluid {
    padding: 0px;
}

h1 {
    position: absolute;
    top: 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    text-align: center;
    margin: 0px;
}

input {
    height: 10vh;
    width: 75vw;
}

button {
    border-radius: 15px;
    width: 15vw;
    margin-right: 5vw;
}

li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 50%;
}

body.swal2-shown>[aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(3px);
}


.chat-list  {
    position: absolute;
    top: 11vh;
    margin: none;
    overflow-y: scroll;
    width: 80vw;
    height: 70vh;
    margin: 0px 10vw 0px 10vw;
}

.right {
    align-self: flex-end;
}

.send-message {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    bottom: 0px;
    background-color: black;
    height: 15vh;
    width: 100%;
}

.message {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    text-indent: 3vw;
}

.user {
    color: gray;
    text-align: end;
    font-size: x-small;
}


.cart-list{
    width: 100%;
}

.cart-unlist{
    overflow-y: unset;
    position: absolute;
    top: 11vh;
    width: 80vw;
    margin: 5%;
}

.products-unlist{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 11vh;
    height: 70vh;
    margin: 5%;
}

.products-list{
    padding: 0%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.products-list-elements{
    width: 18vw; 
    margin: 0%;   
}

.products-button{
    width: 10vw;
}

.products-info{
    position: absolute;
    width: 100%;
    bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.prev-page-link, .next-page-link{
    color: black;
    text-decoration: none;
    padding-inline: 50%;
}

.actual-page{
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 0vh 5vh 0vh 5vh;
}

.product-details-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 10%;
    top: 11vh;
}

.image-container{
    display: flex;
    justify-content: center;
}

.product-image{
    max-width: 70vw;;
    max-height: 40vh;
}



.product-details{

}